.banner {
    background: #ffffff;
    margin-top: 10px;
}

.banner a:hover {
    text-decoration: none;
}

.banner a:link, a:visited {
    color: #434d53;
}

.banner-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;
    background-position: -8px -2px;
    background-image: url("../images/bubbles.jpg");
    display: inline-block;
    margin-right: 10px;
}

.banner-details {
    flex-flow: column;
}

.banner-details ul {
    padding: 0;
    margin-bottom: 0;
}

.banner-details li {
    display: inline;
    list-style-type: none;
}

.list-item {
    margin-right: 70px;
}

.last-list-item {
    margin-right: 0px;
}

.name h1 {
    font-size: 60px;
    text-align: center;
}
    
.button-list a:hover {
    color: #ea6841;
}
