.banner, .downer {
    background: #ffffff;
}

.banner {
    margin-top: 10px;
}

/* TODO - Can't have classes share same link styling - why? */
.banner a:link {
    color: #434d53;
}

.downer a:link {
    color: #434d53;
}

.banner a:hover {
    color: #434d53;
    text-decoration: none;
}

.downer a:hover {
    text-decoration:none;
}

.banner-container {
    width: 50%;
    margin: 0px auto; 
}

.banner-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;
    background-position: 0px -18px;
    background-image: url("https://placekitten.com/g/130/195");
    display: inline-block;
}

.banner-details {
    margin-left: 10px;
    display: inline-block;
}

.banner-container h1 {
    font-size: 60px;
}

.banner-container h2 {
    font-size: 28px;
}

.buttons-list {
    padding: 0px;
    list-style: none;
}

.buttons-header {
    margin-top: 15px;
    text-align:left;
}

.buttons-footer {
    text-align: center;
}

.buttons-header li {
    padding: 0px 27px;
}

.buttons-footer li {
    padding: 0px 10px;
}

.buttons-list li {
    display: inline-block;
}

.buttons-list li a:hover {
    color: #ea6841;
}

.content {
    width: 80%;
    margin: 0px auto;
}

.content-overview {

}

.content-about {

}